@color-blue: #01AAED;
@color-blue-hover: #40A9FF;
@color-blue-disabled: #8ac7fc;
@color-blue-disabled-hover: #9dd2ff;
@color-blue-disabled-light: #e6f4ff;
@color-blue-bg-light: #e6f4ff;

@color-green: #339933;
@color-green-hover: #73D13D;
@color-green-disabled: #95cd73;
@color-green-disabled-hover: #a1d085;
@color-green-disabled-light: #e6ffd5;
@color-green-bg-light: #e6ffd5;

@color-orange: #ff8d00;
@color-orange-hover: #ffa12e;
@color-orange-disabled: #ffc47a;
@color-orange-disabled-hover: #ffcf8d;
@color-orange-disabled-light: #ffe7d5;
@color-orange-bg-light: #ffe7d5;

@color-purple: #9a12b3;
@color-purple-hover: #b617d4;
@color-purple-disabled: #dfa7ee;
@color-purple-disabled-hover: #e3b4ef;
@color-purple-disabled-light: #ffebff;
@color-purple-bg-light: #ffebff;

@color-dark-header: #393D49;
@color-input: #333;


.color-white {
    color: #ffffff !important;
}
.color-light-grey {
    color: #c4c4c4 !important;
}
.color-grey {
    color: #a1a1a1 !important;
}
.color-dark-grey {
    color: #6b6b6b !important;
}

.color-green {
    color: @color-green !important;
}

.color-red {
    color: #FF0000 !important;
}

.color-success {
    color: #6bb871 !important;
}

.color-default {
    color: #b5c4ce !important;
}

.color-warning {
    color: @color-orange !important;
}

.color-danger {
    color: #e80000 !important;
}

.color-important {
    color: #1CACEE !important;
}

.color-blue {
    color: @color-blue !important;
}

.color-yellow {
    color: #F2DF7D !important;
}
