.Space(@i) when (@i <= 50) {
  .makeSpace(@i);
  .Space(@i + 5);
}
.Space(5);

.makeSpace(@value) {
  @valuePx: @value * 1px;
  // margin
  .m-l-@{value} {
    margin-left: @valuePx !important;
  }
  .m-r-@{value} {
    margin-right: @valuePx !important;
  }
  .m-t-@{value} {
    margin-top: @valuePx !important;
  }
  .m-b-@{value} {
    margin-bottom: @valuePx !important;
  }
  // padding
  .p-l-@{value} {
    padding-left: @valuePx !important;
  }
  .p-r-@{value} {
    padding-right: @valuePx !important;
  }
  .p-t-@{value} {
    padding-top: @valuePx !important;
  }
  .p-b-@{value} {
    padding-bottom: @valuePx !important;
  }
}
