// theme: light
.light {
  .header {
    background: #F2F2F2;
    border-bottom: 1px solid #e5e5e5;
    //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  }
}

@themeList: blue, green, orange, purple;
@colorList: @color-blue, @color-green, @color-orange, @color-purple;
@colorHoverList: @color-blue-hover, @color-green-hover, @color-orange-hover, @color-purple-hover;
@colorBgLightList: @color-blue-bg-light, @color-green-bg-light, @color-orange-bg-light, @color-purple-bg-light;
// add after
//@bgColorHoverList: @color-blue-bg-light, @color-green-bg-light, @color-orange-bg-light, @color-purple-bg-light;
@colorDisabledList: @color-blue-disabled, @color-green-disabled, @color-orange-disabled, @color-purple-disabled;
@colorDisabledHoverList: @color-blue-disabled-hover, @color-green-disabled-hover, @color-orange-disabled-hover, @color-purple-disabled-hover;
@colorDisabledLightList: @color-blue-disabled-light, @color-green-disabled-light, @color-orange-disabled-light, @color-purple-disabled-light;

.theme(@i) when (@i <= length(@colorList)) {
  .makeTheme(extract(@themeList, @i),
    extract(@colorList, @i),
    extract(@colorHoverList, @i),
    extract(@colorBgLightList, @i),
    extract(@colorDisabledList, @i),
    extract(@colorDisabledHoverList, @i),
    extract(@colorDisabledLightList, @i));
  .theme(@i + 1);
}
.theme(1);


.makeTheme(@theme, @color, @colorHover, @bgColor,  @colorDisabled, @colorDisabledHover, @colorDisabledLight) {
  span.@{theme} {
    background-color: @color;
  }

  .@{theme} {
    a:hover {
      color: @color;
    }

    .color-color {
      color: @color;
      &:hover {
        color: darken(@color, 5%);
      }
    }

    .color-hover{
      color: @color-grey-4;
      &:hover {
        color: @color;
      }
    }
    .theme-bg {
      background-color: @color;
    }
    .color-color-bg {
      background-color: @color;
    }

    .x-btn {
      color: #fff;
      border-color: @color;
      background-color: @color;

      &:hover {
        color: #fff;
        border-color: @colorHover;
        background-color: @colorHover;
      }

      &:disabled {
        color: #fff;
        background-color: @colorDisabled;
        border-color: @colorDisabled;

        &:hover {
          color: #fff;
          background-color: @colorDisabled;
          border-color: @colorDisabled;
        }
      }

      &.light {
        color: @color;
        border-color: @color;
        background-color: white;

        &:hover {
          border-color: @color;
          color: white;
          background-color: @color;
        }

        &:disabled {
          color: @colorDisabledLight;
          background-color: #fff;
          border-color: @colorDisabledLight;
        }
      }
    }

    .menu-item {
      &.active {
        color: @colorHover;
        background-color: @bgColor;
      }

      &:hover {
        background-color: @bgColor;
      }
    }

    .x-menu {
      .nuxt-link-exact-active {
        background: @bgColor;
        border-right-color: @color;
        color: @color;
      }
    }
  }
}
